<h1 align="center">Assignment Index</h1>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="text-right">
      <a class="btn btn-default" href="<%= new_assignment_path %>" role="button">New Bulk Assignment</a>
      <a class="btn btn-default" href="<%= assignments_new_single_path %>" role="button">New Single Assignment</a>
    </div>
  </div>
</div>

<br>

<table class="table" id="assignments_table">
  <thead>
    <tr style="cursor:pointer;">
      <% if current_user.type == :ta %>
        <th>Delete</th>
      <% end %>
      <th data-placeholder="Ex: Jamie">Student</th>
      <th>Name</th>
      <th>Status</th>
      <th>Due Date</th>
      <th>Needs Review?</th>
      <th>Grade Latest</th>
      <th>Download Latest</th>
      <th>View Latest</th>
      <th>Show</th>
      <th>Late?</th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr style="background-color:<%= assignment.status == "Complete" ? 'rgb(81, 255, 81)' : assignment.status == "Resubmit" ? 'rgb(255, 160, 160)' : ''%>">
        <% if current_user.type == :ta %>
          <td><%= button_to "DELETE", assignment_path(assignment), method: :delete, class: "btn btn-danger", style: "font-size: 6pt", data: {confirm: "Are you sure?"} %></td>
        <% end %>
        <td><%= assignment.user.display_name %></td>
        <td><%= assignment.name %></td>
        <td><%= assignment.status %></td>
        <td><%= assignment.duedate.strftime("%D %H:%M") %></td>
        <td><%= assignment.needs_review? ? "Yes" : "No" %></td>
        <% if assignment.has_some_submission %>
          <td><%= render partial: "grade_current", locals: {subm: assignment.latest_version} %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to "Download", assignment.latest_version_download_link if assignment.has_some_submission %></td>
        <td><%= link_to "Latest", submission_path(assignment.latest_version) if assignment.has_some_submission %></td>
        <td><%= link_to 'Show', assignment %></td>
        <td><%= assignment.submitted_late ? 'Yes' : "No" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

